[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
mbdata = "*"
SQLAlchemy = ">=1.3,<1.4"
psycopg2 = "*"
Flask-APScheduler = "*"
Flask-SQLAlchemy = "*"
pyacoustid = "*"
beautifulsoup4 = "*"
flask-babel = "*"
Flask-Dance = "*"
twisted = "*"
flask-cachecontrol = "*"
lxml = "*"
pysolr = "*"

[dev-packages]

[requires]
python_version = "3.8"
