[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
mbdata = "*"
SQLAlchemy = "*"
psycopg2 = "*"
Flask-APScheduler = "*"
Flask-SQLAlchemy = "*"
pyacoustid = "*"
beautifulsoup4 = "*"
flask-babel = "*"
Flask-Dance = "*"

[dev-packages]

[requires]
python_version = "3.8"

