<!DOCTYPE html>
<html lang="{{ get_locale().language }}">
<head>
<meta charSet="utf-8" />
<title>MusicGamez{% block title %}{% endblock %}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" data-autoreload="false" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="MusicGamez" />
{% block head %}
<meta property="og:type" content="website" />
{% endblock %}
</head>
<body>
<img src="{{ url_for('static', filename='images/beta.png') }}" class="beta" alt="BETA"/>
<nav>
<h1><a href="/">MusicGamez</a></h1>
<ul class="fa-ul" style="margin-left: 0">
<li><a href="{{ url_for('main.genres') }}"><i class="fa-li fa fa-book" aria-hidden="true"></i>{{ _("Browse") }}</a></li>
<li><i class="fa-li fa fa-wrench" aria-hidden="true"></i>{{ _("Tools") }}
<ul>
<li><a href="{{ url_for('main.mycollection') }}">{{ _("My Collection") }}</a></li>
<li><a href="{{ url_for('main.lookup') }}">{{ _("Lookup") }}</a></li>
</ul>
</li>
<li><a href="{{ url_for('main.about') }}"><i class="fa-li fa fa-info-circle" aria-hidden="true"></i>{{ _("About/Help") }}</a></li>
</ul>
<div class="nav-right"><a href="https://github.com/impiaaa/musicgamez" aria-label="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a></div>
</nav>
<div>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
</div>
<main>
{% block content %}{% endblock %}
</main>
<footer>
<p>{{ _('Music metadata by <a href="https://musicbrainz.org/">MusicBrainz</a> contributors is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>. MusicGamez is not afilliated with or endorsed by MusicBrainz or the MetaBrainz Foundation.') }}</p>
</footer>
</body>
</html>

