<tr>
<td><a href="{{ beatmap.external_site.url_base }}{{ beatmap.external_id }}{{ beatmap.external_site.url_suffix }}"><img src="{{ url_for('static', filename='images/site/'+beatmap.external_site.short_name+'.jpg') }}" class="bsite" /></a></td>
<td>{{ beatmap.choreographer }}</td>
<td>{{ beatmap.date|datetimeformat }}</td>
<td>{{ _("State."+beatmap.state.name) }}</td>
<td>
<form action="{{ url_for('main.beatmap', sitename=beatmap.external_site.short_name, extid=beatmap.external_id) }}" method="post">
{% if beatmap.state == State.MATCHED_WITH_STRING or beatmap.state == State.NO_MATCH %}
<button type="submit" name="action" value="rematch">{{ _("Request re-match") }}</submit>
{% endif %}
{% if beatmap.recording_gid %}
<button type="submit" name="action" value="incorrect">{{ _("Report incorrect match") }}</submit>
{% endif %}
</form>
</td>
</tr>

